# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# Data and API keys
/api_keys/
/cache/
/data/resumes/
/data/job_descriptions/

# OS-specific
.DS_Store
Thumbs.db
